h1 {
    color: white;
    font-size: 1.25vw;
    /* move this to the top left corner */
    position: absolute;
    top: 5%;
    left: 5%;
}

/* h3 container */
#h3_container {
    /* make the div a block */
    display: block;
    /* make the div a block */
    position: absolute;
    /* make the div the same size as the screen */
    width: 100%;
    height: 50px;
    left: 0;
    top: 50px;

    /* highlight the bottom of the div */
    border-bottom: 2.5px solid black;
}

/* h2 text */
h3 {
    /* have it in the middle of the h3_container */
    position: relative;
    top: -37.5px;
    color: white;
    font-size: 35px;
    text-align: center;
}

/* style a link as a button */
a.button {
    display: block;

    /* Dealing with Button Shape */
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    background: #291B54;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Text */
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    line-height: 0.5;
    font-family: inherit;
    font-weight: 400 !important;

    /* pad the text down a bit */
    padding-top: 1rem;
}

a.button:hover {
    background: #FFFFFF;
}

a.button:hover span {
    color: black;
}

#navbar {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    overflow: hidden;
}

body,
html {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    background-color: #3D1473;
}

div.portrait {
    display: block;
    position: absolute;
    width: 10%;
    height: 90%;

    top: 50%;
    right: 0;
    transform: translate(-5%, -50%);

    /* set the background to nick.png, make it fit in the portrait div, and center it */
    background: url("images/nick.png") no-repeat center center;
    background-size: cover;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* holds the image */
.brain_image_container {
    display: block;
    position: absolute;
    width: 1200px;
    height: 857px;

    /* have it in the direct center of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map {
    margin: 0 auto;
    display: block;
}

.map img {
    width: 100%;
    height: auto;
}

div.contents_block_mobile {
    display: none;
}

/* have it so if the screen gets below a width of 1000px, the map will be hidden */
@media (max-width: 1200px) or (max-height: 950px) {
    .map {
        display: none;
    }

    .map img {
        display: none;
    }

    .brain_image_container {
        display: none;
    }

    /* hide the text container */
    #text_container {
        display: none;
    }

    #h3_container {
        /* highlight the bottom of the div */
        border-bottom: 0px;
    }

    /* make a new contents block, use it as the main block in on screens 1000px or smaller */
    div.contents_block_mobile {
        display: block;
        position: absolute;
        width: 100%;
        height: 690px;

        /* have the top 15% of the contents block contain the title */
        top: 15%;
        left: 0;
        transform: translate(0, 0);

        top: 100px;

        background: #D9D9D9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    div.contents_block_mobile ol li {
        position: relative;

        font-size: 3rem;
        /* move the text to the right */
        transform: translate(5%, 0%);
    }

    /* make h2 part of the contents_block */
    div.contents_block_mobile h2 {
        /* Text */
        text-decoration: underline;
        color: black;
        text-align: center;
        font-size: 5rem;
        line-height: 0.5;
        font-family: inherit;
        font-weight: 400 !important;
    }

    /* have the portrait show up in the contents block */
    div.contents_block_mobile .portrait {
        display: block;
        position: absolute;
        width: 50%;
        height: 75%;

        /* have it to the bottom right of the contents block with bottom and right margisn of 5% */
        bottom: 5%;
        right: 5%;
        transform: translate(2%, -40%);

        /* set the background to nick.png, make it fit in the portrait div, and center it */
        background: url("../images/nick.png") no-repeat center center;
        background-size: cover;

        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    /* have the list items be not as wide */
    div.contents_block_mobile ol li {
        width: 50%;
    }
}

/* at 760px, have the contents block be moved up 50px */
@media (max-height: 760px) {
    div.contents_block_mobile {
        top: 50px;
    }
}

#myTooltip {
    display: inline-block;
    padding: 5px;
    background: rgba(0, 0, 0, .5);
    color: whitesmoke;
    position: absolute;
    display: none;
}
