#brain_img {
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 285px;
    /* move to the bottom right corner */
    bottom: 0;
    left: 0;
    transform: translate(25%, -40%);

    background: url(../images/brain1.png);
    border-radius: 145px;
}

#inner_peace {
    box-sizing: border-box;

    position: absolute;
    width: 480px;
    height: 270px;

    bottom: 0;
    left: 0;
    transform: translate(175%, -40%);

    background: url(../images/inner_peace.png);
    border: 2.5px solid #000000;
    border-radius: 135px;
}

#book {
    position: absolute;
    width: 530px;
    height: 360px;

    right: 0;
    top: 0;
    transform: translate(-12.5%, 50%);

    background: url(../images/worn_book.png);
}

/* media queries */

/* at a height of 825px, the book image will disappear */
@media(max-height: 825px) {
    #book {
        display: none;
    }
}

/* at a height of 810px, the brain image and inner peace image will disappear */
@media(max-height: 810px) {
    #brain_img {
        display: none;
    }

    #inner_peace {
        display: none;
    }

    #text_container {
        /* transform down 50% of the height of the container */
        transform: translateY(-25%);
    }
}

/* at a height of 430px, the text container will disappear */
@media(max-height: 430px) {
    #text_container {
        display: none;
    }

    a.next_button {
        display: none;
    }
}