#house_image {
    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 350px;

    /* move to the bottom right corner */
    bottom: 0;
    right: 0;
    transform: translate(-50%, -125%);

    background: url(../images/house.png);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

#school_image {
    box-sizing: border-box;

    position: absolute;
    width: 800px;
    height: 300px;

    /* move to the bottom right corner */
    bottom: 0;
    right: 0;
    transform: translate(-50%, -25%);

    background: url(../images/school.jpg);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

#picture_image {
    box-sizing: border-box;

    position: absolute;
    width: 305px;
    height: 175px;

    bottom: 0;
    left: 0;
    transform: translate(0%, -50%);

    background: url(../images/school_work.jpg);
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83.5px;
}

@media(max-height: 895px) {
    #school_image {
        display: none;
    }

    #picture_image {
        display: none;
    }

    #text_container {
        /* transform down 50% of the height of the container */
        transform: translateY(-22.5%);
    }
}

/* media control, at a height of 495px, the school_image will go away */
@media (max-width: 1200px) or (max-height: 495px) {
    #school_image {
        display: none;
    }
}

/* media control, at a height of 380px, the picture_image will go away */
@media (max-width: 1500px) or (max-height: 400px) {
    #picture_image {
        display: none;
    }
}

/* media control, at a height of 430px, the next button will go away, and text container */
@media screen and (max-height: 430px) {
    a.next_button {
        display: none;
    }

    #text_container {
        display: none;
    }
}

/* at a height of 470px, the text_container will disappear */
@media screen and (max-height: 470px) {
    #text_container {
        display: none;
    }
}

@media (max-width: 1535px) or (max-height: 910px) {
    #house_image {
        display: none;
    }
}

/* at a max width of 985px, the text_container will shrink in width */
@media screen and (max-width: 985px) {
    #text_container {
        width: 50%;
    }
}

/* at 685px, the next image will shrink by 50% on all sides */
@media screen and (max-width: 685px) {
    a.next_button {
        transform: scale(0.5);
    }
}

/* at 350px wide, the bottom button text will change to 1.5 rem */
@media (max-width: 360px) {
    a.bottom_button {
        font-size: 1.5rem;
    }
}

/* at 440px, the next image will move to the top right corner */
@media screen and (max-width: 440px) {
    a.next_button {
        top: 13%;
        right: -14%;
        transform: scale(0.5);
    }
}

/* at 320px wide, the top button text will change to 1.5 rem */
@media (max-width: 320px) {
    a.button {
        font-size: 1.5rem;
    }
}