#thinking {
    box-sizing: border-box;

    position: absolute;
    width: 300px;
    height: 300px;
    right: 0;
    top: 0;
    transform: translate(-50%, 25%);

    background: url(../images/thinking.png);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 45px;
}

#writing {
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 300px;
    left: 0;
    bottom: 0;
    transform: translate(175%, -25%);

    background: url(../images/writing.png);
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 65px;
}

#college {
    box-sizing: border-box;

    position: absolute;
    width: 375px;
    height: 310px;
    left: 0;
    bottom: 0;
    transform: translate(15%, -25%);

    background: url(../images/binghamton_university.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

/* media queries */

/* at a height of 810px, the text_container will disappear */
@media screen and (max-height: 895px) {
    #college {
        display: none;
    }

    #writing {
        display: none;
    }

    #text_container {
        /* transform down 50% of the height of the container */
        transform: translateY(-25%);
    }
}

/* at a height of 685px, the thinking image will disappear */
@media screen and (max-height: 685px) {
    #thinking {
        display: none;
    }
}

/* at a height of 470px, the text_container will disappear */
@media screen and (max-height: 470px) {
    #text_container {
        display: none;
    }
}

/* at 430px, the next image will disappear */
@media screen and (max-height: 430px) {
    a.next_button {
        display: none;
    }
}

/* at 1410px wide, the writing image will disappear */
@media screen and (max-width: 1410px) {
    #writing {
        display: none;
    }
}

/* at 1320px wide, the thinking image will disappear */
@media screen and (max-width: 1310px) {
    #thinking {
        display: none;
    }
}